*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 95%;
    margin: 0px auto;
}
.pt{
    padding-top: 50px;
}

.row{
    width: 100%;
}

table{
    width: 100%;
}

table tr{}
table , td,th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px 15px;
    text-align: center;
}


.inputbox{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    flex-wrap: wrap;
}
.input-item{
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
}

input[type="text"]{
    width: 100%;
  font-size: 18px;
  padding: 11px 16px;
  outline: none;
  border: 1px solid;
  border-radius: 6px;
 
}

.btn{
    background-color: green;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-left: 23px;
}

.messDismessable{
    text-align: center;
    padding: 10px 20px;
    background: yellow;
    margin: 5px 50px;
    border-radius: 10px;
}
.tableeditbtn{
    background: #520080;
  margin-left: 10px;
  padding: 11px 21px;
  border: none;
  font-size: 14px;
  color: #fff;
}


@media (min-width:768px){
    .input-item{
        width: 28%;
        padding: 0 0px;
      
    }

    .btn{
        padding: 5px;
        height: 48px;
        font-size: 16px;
        margin-left: 0;
    }
}


@media (min-width:992px){
    .container{
        width: 60%;
        margin: 0 auto;
    }
    .input-item{
        width: 30%;
        padding: 0 20px;
      
    }

    .btn{
        padding: 15px;
        height: 47px; 
    }
}